main {
  margin-top: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-size: 32px;
  margin-bottom: 32px;
  color: var(--text50);
}

.main-subtitle {
  font-weight: bold;
  color: var(--text75);
}

.song-play-control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-play-control img {
  width: 32px;
  margin-right: 8px;
  cursor: pointer;
}

.song-play-control img:active {
  opacity: 0.5;
}

#js-tempo-selector {
  margin-right: 8px;
  cursor: pointer;
}

#tempo-value {
  display: inline;
}

.beats-notes-lyrics {
  margin-top: 32px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.each-beat {
  display: flex;
  flex-direction: column;
}

.beat-values {
  text-align: center;
  opacity: 0.5;
  height: 32px;
}

.js-note {
  cursor: pointer;
  display: inline;
  margin: 4px;
  text-align: center;
  height: 32px;
}

.lyrics {
  display: inline;
  text-align: center;
  margin-bottom: 32px;
  opacity: 0.5;
  height: 32px;
}


.baglama-keyboard {
  display: block;
}

.selected-note-highlight {
  color: red;
}

.frets-container {
  opacity: 1;
}

.frets-container button {
  background-color: var(--primarylight);
  color: var(--primarydark);
  font-size: 10px;
  border-style: none;
  border-radius: 8px;
  margin: 0px;
  padding: 0px;
}

.baglama-keyboard {
  position: relative;
}

.frets-container {
  position: absolute;
  left: 20px;
  bottom: 64px;
}

.bottom-strings-frets, .middle-strings-frets, .top-strings-frets {
  display: grid;
  grid-template-columns: 56px 56px 28px 28px 56px 28px 28px 56px 56px 28px 28px 56px 28px 28px 56px 56px 28px 28px 56px 56px;
  opacity: 0.8;
  outline-style: none;
}

.middle-strings-frets {
  margin: 32px 0px;
}

.selected-fret-visible {
  opacity: 0.8;
  outline-style: solid;
  outline-color: aquamarine;
  outline-width: 8px;
}

.baglama-keyboard button:hover {
  opacity: 0.75;
}

.notation-container {
  text-align: center;
}


